# Created by .gitignore support plugin (hsz.mobi)
### Drupal template
# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

.idea
